.header{
    position: fixed;
    width: 100%;
    p{
        line-height: 0;
        text-decoration: none;
        color:white;
        
    }
    .header__mini-nav-up{
        display:none;
    }

    z-index: 32;
    font-size: 18px;
    line-height: 2.0em;
    padding-left: 10px;
    padding-right: 10px;
    color:gray;
    background-color: #24292e;
    height: 40px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    &__menuwrapper{
        min-width: 300px;
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        a{
            text-decoration: none;
            margin-left: 20px;
            color:white;
            font-size: 24px;
            line-height: 1.5em;
        }
        animation: logo  6s infinite ;
    }

    

    &__navmenu{
        display: flex;
        justify-content: space-between;
        min-width: 260px;
        font-size: 16px;     
       

        &-item{     
            transition: all 1s;       
            list-style-type: none;
            a{
                transition: all 1s;
                text-decoration: none;
                color:gray;
            }  
            &-active{
                a{
                    color: white;
                }                
            }        
            a:hover{
               color:rgba($color: white, $alpha: .7);

            }  

        }
     

    }

    &__mini-nav{
        display: none;
    }

}

