header.header
    .header__logo: a(href="index.html" class = title )  Dima A         
    .header__menuwrapper
        ul.header__navmenu            
            li.header__navmenu-item(class= title=="Контакты" ? 'header__navmenu-item-active' : title): a(href="contact.html" class = title ) Контакты
            li.header__navmenu-item(class= title=="Портфолио" ? 'header__navmenu-item-active' : title): a(href="port.html" ): a(href="port.html" ) Портфолио
            li.header__navmenu-item(class= title=="Обо мне" ? 'header__navmenu-item-active' : title): a(href="about.html" ) Обо мне
        .header__mini-nav: a(href="#" ) <p class="header__mini-nav-down"> V </p> <p class="header__mini-nav-up"> X </p>

       
//li.header__navmenu-item(class= title=="Главная" ? 'header__navmenu-item-active' : title): a(href="index.html" class = title ) Главная
 .header__mini-nav: a(href="#" ) <p class="header__mini-nav-down"> V </p> <p class="header__mini-nav-up"> X </p>
