extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Обо мне"

block content
    include ../../blocks/modules/header/header.pug
    include ../../blocks/modules/about/about.pug
    include ../../blocks/modules/footer/footer.pug

block scripts
    script(src="js/main.js")
   
