extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Контакты"

block content
	include ../../blocks/modules/header/header.pug
	include ../../blocks/modules/contact/contact.pug
	include ../../blocks/modules/footer/footer.pug

block scripts
	script(src="js/main.js")
	

