extends ../layouts/default
include ../helpers/mixins

block variables
    - const title = "Портфолио"

block content
    include ../../blocks/modules/header/header.pug
    include ../../blocks/modules/porto/porto.pug
    include ../../blocks/modules/footer/footer.pug

block scripts    
    script(src="js/main.js")
    
    
