section.about
    .about__topwrapper
        .about__container
            .about__title   Приветствую, вас, на моём сайте. 
            .about__subtitle     Меня зовут Дмитрий Антонов.
            .about__promo-wrapper               
                .about__promo-wrapper-item  Родился  я в славном городе Твери в 1981г. Сменил 10 школ, а затем 
                                        |в 2002 году успешно окончил ГУАП (ЛИАП).<br>Всю сознательную жизнь я
                                        |посветил управлению продажами. С 2019 года я решил сменить сферу
                                        |деятельности.<br> В данный момент я занимаюсь Frontend разработкой.
                                        |<br> <i>На этой странице вы узнаете какими навыками я уже обладаю и что изучаю в данный момент.</i>
                .about__promo-wrapper-img: img(src="/img/DimaA.jpg", alt="")

            .about__skill-wrapper
                .about__skils-base.about__skils-item Мои основные навыки 
                    ul
                        li  HTML           
                        li  CSS
                        li  JS - начальный уровень. Изучаю сейчас
                        li  Использую Git
                        li  Использую Figma, предпочитаю Avacode

                .about__skils-lib.about__skils-item  Препроцессоры
                    ul
                        li  HTML предпочитаю PUG           
                        li  CSS предпочитаю SASS в синтаксисе scss

                .about__skils-work.about__skils-item Верстка
                    ul
                        li  Использовал Bootstrap's grid        
                        li  Изучал Float
                        li  Предпочитаю адаптивно-отзывчивую верстку (Flex + @media)

                        
                


