section.contact
    .contact__topwrapper
        .contact__container
            .contact__title Мои контакты:
                .contact__items
                    .contact__item
                        i(class="fas fa-phone-square") 
                        .contact__descr телефон:
                        a(href="tel:89117335515") +7 911-733-5515
                    .contact__item
                        i(class="fab fa-vk")
                        .contact__descr вконтакте:
                        a(href="https://vk.com/dimaa_ru" target="_blank") vk.com/dimaa_ru
                    .contact__item
                        i(class="fas fa-envelope-square")   
                        .contact__descr почта:
                        a(href="mailto:dimaa@dimaa.ru") dimaa@dimaa.ru
                    .contact__item
                        i(class="fab fa-github-square")
                        .contact__descr gitHub:
                        a(href="https://github.com/Dmirii/"  target="_blank") github.com/Dmirii/
                        

